[data-page="homepage"] {
  text-align: center;
  background-color: hsl(var(--clr-lighter), 0.2);
  &:has(canvas.is-playing) {
    background: linear-gradient(
      135deg,
      hsl(var(--clr-lighter)),
      hsl(var(--clr-lighter), 0.6),
      hsl(var(--clr-lighter), 0.2),
      hsl(var(--clr-lighter), 0.6),
      hsl(var(--clr-lighter))
    );
  }

  aside {
    padding: 0.2rem 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  canvas {
    border-radius: 1rem;
    background-color: white;
    transition: all 0.2s;
    border: 1px solid black;
    &.is-playing {
      box-shadow: 0.4rem 0.4rem 1rem black;
    }
  }
}
